body{
    font-family:'Microsoft YaHei';  
}
nav{
    opacity:0.5;
}
.bg1{
       background-image:url("../images/bg.jpg") ;
       width:100%;
       height:100%;
       position:absolute;
       z-index:-1;
       top:0px;
       left:0px;
}
.logopos{
    margin-top:-20px;
}
.xypos{
    margin-top:10%;
}
