html {
    height: 100%
}

body {
    font-family: 'Microsoft YaHei';
    height: 100%
}

nav {
    opacity: 0.5;
}

.bg1 {
    background-image: url("../images/bg.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logopos {
    margin-top: -20px;
}

.xypos {
    top: 200px;
    position: absolute;
}

.sec1font {
    color: white;
    display: none;
    margin-top: 350px;
    text-align: center;
}

.about_font {
    color: #969696;
    font-size: 16px;
}

.about_part {
    height: 400px;
    background-color: #F8F8F8;
}
@media screen and (max-width: 300px) {
.about_part {
    display: none;
}
}