@media screen and (max-width: 1000px) {
    .sp1 {
        background-image: url(../images/sp1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .part2 {
        height: 728px !important;
        background-color: #3D3744 !important;
    }
    .new_article>li>a {
        font-size: 16px;
        color: #666;
        line-height: 2px;
    }
}

@media screen and (max-width: 600px) {
    #tags {
        display: none;
    }
    #classVedio {
        display: none;
    }
    .about_part {
        height: 0px;
    }
}

.part2 a:not(:hover):not(:target) {
    -webkit-animation: 0s ease 0s normal none 1 none;
}

.part2 a:not(:hover):not(:target) {
    -moz-animation: 0s ease 0s normal none 1 none;
}

.part2 a:not(:hover):not(:target) {
    animation: 0s ease 0s normal none 1 none !important;
}

html {
    height: 100%;
}

body {
    font-family: 'Microsoft YaHei';
    height: 100%;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #777;
}

.logopos {
    margin-top: -10px;
}

.xypos {
    top: 40%;
    position: absolute;
}

.sec1font {
    color: white;
    display: none;
    margin-top: 350px;
    text-align: center;
}

.about_font {
    color: #969696;
    font-size: 16px;
}

.about_part {
    height: 400px;
}

.about_part a {
    color: #3D3744;
}

.add_nav {
    background-color: #3D3744;
    opacity: 0.7;
}

.part2 {
    height: 400px;
    background-color: #3D3744;
}

.part2 a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #3D3744;
}

.article_title h4 {
    line-height: 2;
}

.article_title {
    margin-left: -15px;
    border-bottom: 1px solid #e9e9e9;
}

li:hover {
    opacity: 0.8;
}

li>a {
    color: #FFFFFF;
}

li>div>a {
    color: #FFFFFF;
}

.part2 h2 {
    color: #ffffff;
}

.follow {
    color: #428bca;
}

.sp1 {
    background-image: url(../images/sp1.jpg);
    background-repeat: no-repeat;
}

.sp2 {
    background-image: url(../images/sp2.jpg);
    background-repeat: no-repeat;
}

.sp3 {
    background-image: url(../images/sp3.jpg);
    background-repeat: no-repeat;
}

.sp4 {
    background-image: url(../images/sp4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport1 {
    background-image: url(../images/sport1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport2 {
    background-image: url(../images/sport2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport3 {
    background-image: url(../images/sport3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport4 {
    background-image: url(../images/sport4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport5 {
    background-image: url(../images/sport5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport6 {
    background-image: url(../images/sport6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport7 {
    background-image: url(../images/sport7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport8 {
    background-image: url(../images/sport8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport9 {
    background-image: url(../images/sport9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sport10 {
    background-image: url(../images/sport10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.join_top {
    padding-top: 115px;
}

.join_top1 {
    padding-top: 145px;
}

.title {
    padding: 20px 0%;
}

.bgcol {
    background-color: #EBF0F2;
}

.fit_content {
    margin-top: 60px;
    background-color: #ffffff;
}

.text_center {
    text-align: center;
}

.text_title {
    color: #9F9F9F;
}

li {
    list-style: none;
}

.sport_listtle {
    position: absolute;
    bottom: 25%;
    left: 28px;
    color: #ffffff;
    font-size: x-large;
}

.device {
    float: right;
    color: #999;
}

.list_content {
    color: #584f60;
}

.list_title {
    margin-top: 70px;
    margin-left: 15px;
}

.thumbnail {
    display: block;
    padding: 0px !important;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    padding-bottom: 0px !important;
}

.list_bg {
    background-size: cover;
    background-position: center center;
    height: 240px;
}

.list_bg p {
    padding-left: 14px;
    color: #ffffff;
}

.list_bgtitle {
    color: #ffffff;
    padding-top: 80px;
}

.list_bgtitle1 {
    text-align: center;
    font-size: 20px;
    color: #777;
    padding-top: 10px;
}

.list_padding {
    margin-top: 16px;
}

.bgcol2 {
    background-color: #ffffff;
    margin-top: 60px;
}

.bgcol3 {
    background-color: #ffffff;
    margin-top: 10px;
}

.comment {
    padding: 1.2rem 1.4rem;
    border-top: 1px solid #f5f5f5;
}

.comment h4 {
    color: #0078b6;
}

.reply {
    color: #0078b6;
}

.reply_time {
    float: right;
    margin-bottom: -5px;
    color: #999;
}

.left {
    float: left;
}

.right {
    float: right;
}

.article_info {
    font-size: 14px;
    color: #999;
}

.right_article {
    color: #0078b6 !important;
    font-size: 14px;
}

.left_content {
    float: left;
    letter-spacing: 0.05em;
}

.left_content p {
    text-indent: 2em;
    font-size: 16px;
}

.community_title {
    text-align: center;
}

.comment_num {
    float: left;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    margin-right: 15px;
    position: relative;
    height: 60px;
    width: 40px;
}

.comment_content {
    color: #999;
    margin-left: 55px;
}

.comment_num span {
    padding-top: 10px;
    font-size: 26px;
    color: #777;
}

.avatar {
    height: 3.5rem;
    float: left;
    margin-right: 8px;
}

.name {
    color: #584f60;
}

.content {
    margin-left: 3rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #666;
}

.time {
    color: #999;
    font-size: 12px;
}

.videopos {
    padding-top: 8px;
    margin-left: -22px;
}

.font_col {
    color: #777;
}

.new_article {
    margin: 12px 4px;
}

.article_pos {
    margin: 10px -15px;
}

.new_article>li>a {
    color: #666;
    line-height: 28px;
}

.sort_content {
    margin-left: -36px;
}

.sort_content>li:first-child {
    height: 100px;
}

.sort_images {
    vertical-align: top;
    width: 135px;
    height: 90px;
    border: 0;
    float: left;
}

.sort_imgmain {
    overflow: hidden;
    padding-left: 10px;
}

.sort_title {
    font-size: 16px;
    color: #000000;
}

.sort_content>li>a {
    color: #666;
    line-height: 28px;
}

.bottom {
    border-top: 1px solid #ececec;
    background-color: #FFFFFF;
    margin-top: 10px;
    height: 80px;
}

.bottom_c1 {
    text-align: center;
    padding-top: 17px;
}

.bottom_c2 {
    line-height: 1em;
    text-align: center;
}

a {
    color: #000000;
}

.user-icon {
    margin: 10px 0px;
}

.user-info {
    height: 100px;
    margin: 10px 0px;
}

.user-infos {
    margin-top: 50px;
}

.user-city {
    font-size: 1.2rem;
    color: #999;
}

.user-name {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #333;
    font-weight: bold;
    font-family: PingFang-SC-Medium;
    margin-bottom: 2rem;
}

.info-num {
    font-family: SanFranciscoDisplay-Medium;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: #333;
}

#transform-2 {
    transform-2 1s ease 0s alternate both 2;
}

#transform-2 {
    -moz-animation: transform-2 1s ease 0s alternate both 2;
}

#transform-2 {
    animation: transform-2 1s ease 0s alternate both 2;
}


/*变换速度，变化趋势（均速之类），延迟秒，反向播放，动画结束保持不变，变化次数*/

@-webkit-keyframes transform-2 {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
    }
}

@-moz-keyframes transform-2 {
    from {
        -moz-transform: scale(1);
    }
    to {
        -moz-transform: scale(1.1);
    }
}

@keyframes transform-2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#tags .tags0 {}

#tags .tags1 {
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 0%;
}

#tags .tags2 {
    font-size: 16px;
    position: absolute;
    top: 28%;
    left: 20%;
}

#tags .tags3 {
    position: absolute;
    top: 31%;
    left: 40%;
}

#tags .tags4 {
    font-size: 16px;
    position: absolute;
    top: 34%;
    left: 60%;
}

#tags .tags5 {
    font-size: 20px;
    position: absolute;
    top: 37%;
    left: 1%;
}

#tags .tags6 {
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 0%;
}

#tags .tags7 {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 43%;
    left: 20%;
}

#tags .tags8 {
    font-weight: bold;
    position: absolute;
    top: 46%;
    left: 40%;
}

#tags .tags9 {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 49%;
    left: 60%;
}

#tags .tags10 {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 52%;
    left: 8%;
}

#tags .tags11 {
    position: absolute;
    top: 55%;
    left: 10%;
}

#tags .tags12 {
    font-size: 14px;
    position: absolute;
    top: 58%;
    left: 30%;
}

#tags .tags14 {
    font-size: 20px;
    position: absolute;
    top: 61%;
    left: 60%;
}

#tags .tags15 {
    font-size: 20px;
    position: absolute;
    top: 64%;
    left: 3%;
}

#tags .tags16 {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 67%;
    left: 15%;
}

#tags .tags17 {
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 30%;
}

#tags .tags18 {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 73%;
    left: 45%;
}

#tags .tags19 {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 76%;
    left: 55%;
}

#tags .tags20 {
    position: absolute;
    top: 79%;
    left: 65%;
}

#tags .tags21 {
    font-size: 14px;
    position: absolute;
    top: 82%;
    left: 75%;
}

#tags .tags22 {
    font-size: 24px;
    position: absolute;
    top: 85%;
    left: 8%;
}

#tags .tags23 {
    font-size: 16px;
    position: absolute;
    top: 88%;
    left: 15%;
}

#tags .tags24 {
    position: absolute;
    top: 91%;
    left: 46%;
}

#tags .tags25 {
    font-size: 16px;
    position: absolute;
    top: 94%;
    left: 5%;
}

#tags .tags26 {
    font-size: 20px;
    position: absolute;
    top: 97%;
    left: 3%;
}

#tags a:hover {
    color: #3D3744;
    text-decoration: none;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -210px;
    height: 420px;
    width: 340px;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 10px #A6A6A6;
    background: #fff;
}

.border-btn {
    border-bottom: 1px solid #ccc;
}

#landing,
#registered {
    float: left;
    text-align: center;
    width: 170px;
    padding: 15px 0;
    color: #545454;
}

#landing-content {
    clear: both;
}

.inp {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
}

.inp>input {
    text-align: center;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.login {
    border: 1px solid #A6A6A6;
    color: #a6a6a6;
    height: 30px;
    width: 202px;
    text-align: center;
    font-size: 13.333333px;
    margin-left: 70px;
    line-height: 30px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    background: #A6A6A6;
    color: #fff;
}

#bottom {
    margin-top: 30px;
    font-size: 13.333333px;
    color: #a6a6a6;
}

#registeredtxt {
    float: left;
    margin-left: 80px;
}

#forgotpassword {
    float: right;
    margin-right: 80px;
}

#photo {
    border-radius: 80px;
    border: 1px solid #ccc;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
}

#photo>img:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

#photo>img {
    height: 80px;
    width: 80px;
    -webkit-background-size: 220px 220px;
    border-radius: 60px;
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    -o-transition: -o-transform 1s linear;
    -ms-transition: -ms-transform 1s linear;
}

#registered-content {
    margin-top: 40px;
    display: none;
}

.fix {
    clear: both;
}

.form {
    display: none;
}

.bgcol4 {
    background-color: #3D3743;
    font-family: 'Microsoft YaHei';
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: 10px!important;
    line-height: inherit;
}

.comment_num1 {
    float: left;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    margin-right: 15px;
    position: relative;
    height: 60px;
    width: 60px;
    margin-left: -20px;
}

ul,
ol {
    margin-top: 0!important;
    margin-bottom: 0px!important;
}

.bk_0 {
    color: black;
    font-size: 16px;
    line-height: 35px;
    float: left;
    width: 200px;
}
